<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h2>Escalante City</h2>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="#">London</a></li>
          <li><a href="#">Paris</a></li>
          <li><a href="#">Tokyo</a></li>
        </ul>
      </nav>

      <article>
        <h1>Escalante City</h1>
        <br />
        <p>
          Escalante, officially the City of Escalante, is a 4th class component
          city in the province of Negros Occidental, Philippines.
        </p>
        <p>
          According to the 2020 census, it has a population of 96,159 people.
        </p>
        <br />
        <p>Area: 192.8 km² ZIP</p>
        <p>code: 6124</p>
        <p>Barangays: 21 (see Barangays)</p>
        <p>Weather: 29°C, Wind N at 8 km/h, 74% Humidity weather.com</p>
        <p>Region: Western Visayas</p>
        <p>Province: Negros Occidental District: 1st district</p>
      </article>
    </section>

    <footer>
      <p>Copy Right 2022 © Deejay Geroso</p>
    </footer>
  </body>
</html>
