<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h2>Escalante City</h2>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="#">London</a></li>
          <li><a href="#">Paris</a></li>
          <li><a href="#">Tokyo</a></li>
        </ul>
      </nav>

      <article>
        <h1>Escalante City</h1>
        <p>
          Escalante, officially the City of Escalante, is a 4th class component
          city in the province of Negros Occidental, Philippines. According to
          the 2020 census, it has a population of 96,159 people.
        </p>
        <p>
          Standing on the River Thames, London has been a major settlement for
          two millennia, its history going back to its founding by the Romans,
          who named it Londinium.
        </p>
      </article>
    </section>

    <footer>
      <p>Copy Right 2022 © Deejay Geroso</p>
    </footer>
  </body>
</html>
