* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: #192341;
  --main-header-height: 25%;
  --main-section-height: 70%;
  --main-footer-height: 5%;

}

html, body {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  font-size: 35px;
  color: white;

  background: url('images/city.jpeg');
  background-color: var(--main-background-color);
  background-repeat: no-repeat;
  background-size: cover;

  height: var(--main-header-height);
  width: 100%;

}

section {
  display: flex;
  flex-direction: row;

  height: var(--main-section-height);
}

nav {
  background-color: #18527c;
  width: 225px;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: #5EECBE;
}
nav ul li a {
  color: #D1EEEC;
  text-decoration: none;
}

nav ul li:hover a {
  color: #471e79;
}

article {
  flex: 1;
  float: left;

  background-color: #FFEECA;
  color: var(--main-background-color);

  margin: 0;
  padding: 20px;
}

footer {
  background-color: var(--main-background-color);
  color: white;
  text-align: center;

  padding: 10px;
  margin: 0;

  height: var(--main-footer-height);
}
